<div class="container">
  <h2>Add new Task</h2>
  <form id="add-task" action="/notes" method="POST">
    <div class="form-group">
      <label for="title_input">Title:</label>
      <input class="form-control" type="text" name="title_input" required>
    </div>
    <button class="form-control btn btn-default btn-success" type="submit"> Submit </button>
  </form>
</div>

<br>

<div class = "container">
  <h2>Task List</h2>
    <table class = "table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope = "col">Task Title</th>
            <th scope = "col">Created Date</th>
            <th scope = "col">Finished</th>
          </tr>
        </thead>
      <tbody>
        {{#each tasks}}
        <tr>
          <th scope="row">{{@index}}</th>
          <td>{{title}}</td>
          <td>{{createdAt}}</td>
          <td>{{finished}}</td>
          <td><button class= "btn btn-default btn-info">Marked</button></td>

          <td><a href = "/notes/{{id}}/edit"><button class= "btn btn-default btn-primary" >Edit</button></a></td>
          
          <form id="delete-task" action="/notes/{{id}}/?_method=DELETE" method="POST">
            <td><button class= "btn btn-default btn-danger" onclick="return confirm('Are you sure you want to delete this task?');" type = "submit">Delete</button></td>
          </form>
          
        </tr>
        {{/each}}  
      </tbody>
    </table>
</div>